.container{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 0);
    margin: 40px auto;
}

.item{
    width: 200px;
    height: 200px;
    background-color: black;
    border: 5px solid black;
    box-sizing: border-box;
    position: absolute;

    
    
    /* position:  absolute; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(); */
    /* transform: translate(-50%, -50%) rotate(360deg); */
    /* top: ; */
    

}

#item1{
    left: 300px;
    z-index: 1;
}