img{
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    
    animation: spin 3s infinite ;
    
    /* animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: .0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running; */
}



@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1.0);
    }

    50% {
        transform: rotate(180deg) scale(1.5);
    }

    100% {
        transform: rotate(300deg) scale(1.0);

    }
}